.wave-banner{
     min-height: 90vh;
     width: 100%;
     background: rgb(77, 187, 187);
     z-index: -1;

}


svg{
     position: absolute;
     bottom: 0;
     left: 0;
   
}



.banner-txt{
     text-align: center;
     max-width: 700px;
     color: whitesmoke;
     
}

.brand-name{
     font-family: 'Carter One', cursive;
     font-size: 48px;
     text-align: center;
     color: #9560ffc5;
}


.banner-btn{
     background-color: #9560ffc5!important;
     color: whitesmoke;
     border: 0;
     font-family: 'DM Sans', sans-serif;
     font-weight: 500;
     position: relative;
}

.banner-btn:hover{

     color: #9560ffc5!important;
     background-color: rgba(245, 245, 245, 0.747)!important;
}

.banner-one{
     font-family: 'Bree Serif', serif;
}

.banner-sub{
     font-family: 'DM Sans', sans-serif;
     font-weight: 400;
}

@media(max-width:462px){
     .brand-name{
          display: none;
     }
     
     h1{
          font-size: 24px;
     }

     h3{
          font-size: 18px;
     }

     .banner-img{
          height: 150px!important;
          width: 150px!important;
     }

     .banner-btn{
          padding: 10px;
          font-size: 18px;
     }
}

@media(max-width:991px){
     .brand-name{
          display: none;
     }

     .banner-img{
          height: 200px;
          width: 200px;
     }

     .nav-list{
          flex-direction: column;
          gap: 1rem!important;
          position: absolute;
          left: 0;
          right: 0;
          top: -400%;
          text-align: center;
          background-color: #9f6fffee!important;
          width: 100%;
          padding: 2rem;
          color: rgba(245, 245, 245, 0.9);
          border: 1px solid rgba(245, 245, 245, 0.562);
          border-radius: 8px;
          transition: 0.25s;
          z-index: 99 !important;
    
     }

     .member-btn{
          display: none;
     }

     .fa-bars{
          display: block!important;
     }

     .fa-user{
          display: block!important;
     }

     

}

.fa-bars{
     display: none;
}

.fa-user{
     display: none;
}