.card-container{
     color: rgb(70, 70, 70);
     max-width: 700px;
     /* border: 2px solid rgb(241, 241, 241); */
     box-shadow: 0 0 5px gainsboro;
     border-radius: 8px;
     font-family: 'Viga', sans-serif;
}

.card-desc{
     font-family: 'DM Sans', sans-serif;
}

.card-price{
     font-family: serif;
     font-size: 17px;
}



.back-btn{
     display: block;
     text-align: center!important;
     margin-right: 55rem;
     margin-top: 2rem;
     padding: 5px;
}


.text-custom{
     color: #9a67ffdc;
     font-weight: bold;
     cursor: pointer;
}

.text-custom:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media(max-width: 500px){
     .back-btn{

          margin-right: 0!important;

     }
}