nav{
     font-family: 'Viga', sans-serif;
     font-weight: 500;
}

.custom-bg{
     background-color: rgb(77, 187, 187)!important;
     height: 80px;
/* 	background: transparent; */
	backdrop-filter: blur(15px);
	box-shadow: 0 0 5px rgba(99, 99, 99, 0.25);
	color: whitesmoke;
	font-size: 18px;
};


.nav-list li{
     list-style-type: none!important;
     margin-bottom: 0rem!important;
}

.nav-list{
     list-style: none!important;
     margin-bottom: 0rem!important;
     color: rgb(240, 240, 240);
}

.outline-none{
     color: white!important;
}

.img-fix{
     height: 32px;
     width: 150px;
}

.custom-bg2{
     background-color: #9560ffc5!important;
}

.custom-bg3{
     border: 0;
     color: whitesmoke;
     background-color: #9560ffc5!important;
}

.custom-bg4{
     color: #9560ffc5!important;
     border: 2px solid #9560ffc5!important;
     font-family: 'Viga', sans-serif;
     font-weight: 500;
     min-width: 95px;
}

.custom-bg4:hover{
     background-color: #9560ffc5!important;
     color: whitesmoke!important;
     border: 2px solid white!important;
}

.custom-bg3:hover{
     background-color: rgba(245, 245, 245, 0.747)!important;
     color: #9560ffc5!important;  
}

.fa-user, .fa-sign-out{
     color: #9560ffc5!important;
}

.fa-bars{
     color: rgba(250, 250, 250, 0.9);
}
